<!doctype html>
<html>
    <head>
        <title>Shopify Integration</title>
        <link rel="stylesheet" href="/css/landing-page.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        {{body}}
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>